# see also:
# ~/.vim/pack/honza/opt/vim-snippets/UltiSnips/go.snippets
# ~/.vim/pack/fatih/opt/vim-go/gosnippets/UltiSnips/go.snippets

snippet /^maint/ "Main function" r
func TestMain(m *testing.M) {
	${0:${VISUAL}}
}
endsnippet

snippet iferr "If err statement" b
if ${1:val}, err := ${2:fun()}; err != nil {
	${0:${VISUAL}}
	return err
}
endsnippet

snippet ifok "If ok statement" b
if ${1:val}, ok := ${2:fun()}; !ok {
	${0:${VISUAL}}
}
endsnippet

